---
import {TAGS} from "../consts.ts"
import IconBox from "../icons/IconBox.astro"
import GitHubIcon from "../icons/GitHub.astro"
import SkillIconBox from "../icons/SkillIconBox.astro"

const PROJECTS = [
    {
        title: 'Café EPOS Backend',
        description: 'A small implementation of the backend of a café EPOS system built for a technical test. It allows creating tabs and adding menu items, automatic calculation of subtotal, service charge, VAT and total, mock payment intents and confirmations and API key authentication for endpoints.',
        github: 'https://github.com/MicahGH/cafe-epos',
        image: './projects/cafe_epos.jpg',
        tags: [TAGS.PYTHON, TAGS.DJANGO, TAGS.POSTGRESQL, TAGS.POETRY, TAGS.DOCKER],
    },
    {
        title: "Advanced SQL Puzzles — Micah's Solutions",
        description: 'If you know me, you know that I am a massive fan of SQL and solving problems with this holy language. After solving all of the SQL problems on LeetCode and seeking more of a challenge, I stumbled upon a repository called "AdvancedSQLPuzzles", and decided to have a go at solving all of them. These puzzles have further deepened my knowledge of the language and highlighted just how useful it is — especially the second part, which required solving problems like the Monty Hall problem, the 100 Prisoners Riddle, the Josephus Problem, and more. These were fascinating to investigate and solve.',
        github: 'https://github.com/MicahGH/advanced-sql-puzzles-micah-solutions',
        tags: [TAGS.MICROSOFTSQLSERVER],
    },
    {
        title: "Nand2Tetris — Micah's Implementation",
        description: 'Nand2Tetris (by Noam Nisan & Shimon Schocken) taught me how a computer works from the ground up: logic gates, the Hack HDL, building chips (ROM/RAM/CPU), assembly, and writing a custom assembler that converts Hack assembly into binary. It gave me a deeper understanding of what happens under the hood, improved my development skills, and helped me think more efficiently and effectively.',
        github: 'https://github.com/MicahGH/nand2tetris-micah-implementation',
        tags: [TAGS.PYTHON, TAGS.CPLUSPLUS],
    },
    {
        title: 'Personal Website / Portfolio — micah.es',
        description: 'Built my own personal website / portfolio after buying the domain: micah.es. Most people know me as a Backend guy and BE guys are infamous for not liking FE, however there is no Wix, Wordpress, AI, etc. here. No easy way out. Just tutorials and learning the old-fashioned way. I even learned to use GIMP to improve the quality and remove the background of my self-portrait. FE is way cooler than I thought.',
        github: 'https://github.com/MicahGH/micah-es',
        image: './projects/micah_es.jpg',
        tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.HTML, TAGS.CSS], 
    },
]
---

{
    PROJECTS.map((project, index) => (
        <article class={index === 0 ? "py-1" : "py-7"}>
            <h3 class="flex flex-row gap-3 text-2xl font-semibold text-[#C9A227]">{project.title}
                <IconBox class="flex flex-row" href={project.github}>
				<GitHubIcon class="size-4"/>
			    </IconBox>
            </h3>
            <p class="text-lg mb-2 text-pretty">{project.description}</p>
            <ul class="flex gap-x-2 flex-row py-2 flex-wrap">
                {project.tags.map(tag => (
                    <li>
                    <SkillIconBox {...tag}/>
                    </li>
                ))}
            </ul>
            {project.image && <img class="rounded shadow-2xl shadow-white/10" src={project.image} alt={`Screenshot of the project ${project.image}`}>}
        </article>
    ))
}